<header id="header">
    <div class="container d-flex justify-content-center">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="../../../assets/logo2.png" alt="" title="" /></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>
    </div>
  </header><!-- #header -->

  <section id="hero">
    <div class="hero-container">
      <h1>We Make 
        <span class="colored">Awesome Games</span>
      </h1>
      <h2 class="display-4">Elige Tu Futuro</h2>
      <div class="d-sm-none d-md-block d-flex">
        <a href="#about" class="btn-get-started">Get Started</a>
        <a href="#about" class="btn-get-started">Get Started</a>
      </div>
    </div>
  </section><!-- #hero -->