<div class="d-md-block d-lg-none">
        <header id="header">
                <div class="container d-flex justify-content-center">
            
                  <div id="logo" class="pull-left">
                    <a href="#"><img src="../../../assets/logo2.png" alt="" title="" /></a>
                  </div>
                </div>
              </header>
            
            
              <section id="heros">
                <div class="hero-container">
                  <h1>We Make 
                    <span class="colored">Awesome Games</span>
                  </h1>
                  <h2 class="display-4">Elige Tu Futuro</h2>
                  
                        <div class="card-group ">
                            
                                <div class="card border-light" id="develoment">
                                    <img class="card-img-top" src="https://uploads-ssl.webflow.com/5ae7ac0041c7128be3de12ec/5b1089ed122b7a329cb551eb_intel.svg"  alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Develoment</h5>
                                        <p class="card-text d-none d-sm-block">Desarrolle Con Ultimas Tecnologias: Crea Gaming 4K, Intelligence Artificielle, Y Mucho Mas </p>
                                    </div>
                                </div>
                                
                                <div class="card border-light ml-md-5" id="gamer" >
                                  <img class="card-img-top" src="https://uploads-ssl.webflow.com/5ae7ac0041c7128be3de12ec/5b1089f866f2f62a1f888915_ryzen.svg"  alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">Gaming</h5>
                                    <p class="card-text d-none d-sm-block">Consiente Tus Sentidos: Rederizado 4k, LiveStream, Develoment And Gaming A Un Excelente Precio</p>
                                  </div>
                                </div>

                            </div>
                            <h2 class="display-4 mt-5">Ocupas Ayuda? <span class="colored" style="cursor: pointer;">Entra</span></h2>
                        </div>
              </section>
</div>

<div id="video" class="d-md-none d-lg-block">   
        <header id="header">
                <div class="container d-flex justify-content-center" style="z-index: 900;">
                    <div id="logo" class="pull-left">
                        <a href="#hero"><img src="../../../assets/logo2.png" alt="" title="" /></a>
                        
                    </div>
                </div>
            </header>
            
            <div class="hero-unit">
                    <div class="hero-overlay"></div>
                    <video src="http://www.atypicalthemes.com/portfolio/strider_demo/pages/StriderDark/Video/images/bg-vid.mp4" autoplay loop muted id="bgvid" class="img-fluid">
                        <source src="http://www.atypicalthemes.com/portfolio/strider_demo/pages/StriderDark/Video/images/bg-vid.mp4" type="video/mp4">
                        </video>
                    
                    
                        <section id="hero">
                          <div class="hero-container">
                            <h1>Creamos
                              <span class="colored">Asombrosas Experiencias</span>
                            </h1>
                            <h2 class="display-4">Elige Tu Futuro</h2>
                            
                         <div class="card-group ">
                            
                                <div class="card border-light" id="develoment">
                                    <img class="card-img-top" src="https://uploads-ssl.webflow.com/5ae7ac0041c7128be3de12ec/5b1089ed122b7a329cb551eb_intel.svg"  alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Develoment</h5>
                                        <p class="card-text d-none d-sm-block">Desarrolle Con Ultimas Tecnologias: Crea Gaming 4K, Intelligence Artificielle, Y Mucho Mas </p>
                                    </div>
                                </div>
                                
                                <div class="card border-light ml-md-5" id="gamer" >
                                  <img class="card-img-top" src="https://uploads-ssl.webflow.com/5ae7ac0041c7128be3de12ec/5b1089f866f2f62a1f888915_ryzen.svg"  alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">Gaming</h5>
                                    <p class="card-text d-none d-sm-block">Consiente Tus Sentidos: Rederizado 4k, LiveStream, Develoment And Gaming A Un Excelente Precio</p>
                                  </div>
                                </div>
                            
                            </div>
                            <h2 class="display-4 mt-5">Ocupas Ayuda? <span class="colored" style="cursor: pointer;">Entra</span></h2>
                        </div>
                            
                        </section>
                     
              </div>
              
</div>

  